name: create-new-release
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        default: "v0.0.0"
        type: string

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: make release VERSION=${{ github.event.inputs.version }} GITHUB_USERNAME=${{ github.actor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
